<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center> 
        <form action="/board/create2" method="POST">
            <table border="1" style="border-collapse: collapse">
                    <tr>
                        <td>
                            <p>제목을 입력해주세요</p>
                        </td>
                        <td>
                            <input type="text" name="title">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>본문을 입력해주세요</div></p>
                        </td>
                        <td>
                            <textarea name="content" cols="30" rows="10"></textarea>
                        </td>
                    </tr>
     
                </table>
                <br>
                <input type="submit">
                <a href="/board/notice"><input type="button" value="뒤로가기"></a>
        </form>
    </center>
</body>
</html>