<!DOCTYPE html>  
<html>
<head> 
    <meta charset="utf-8">
    <title>로그인 페이지</title>
    <style>
        h1{
            font-family: Algerian;
        } 
    </style>
    <script>
    </script> 
</head>
<body>
    <form method="post" action="/Login">
        <center>
        <h1>Login Page</h1> 
        <br>
        <b>이메일 : <input type="text" id="id" name="id" value="" placeholder="Email"/></b>
        <br>
        <br>
        <b>비밀번호 : <input type="password" id="pw" name="pw" value="" placeholder="PASSWORD"/><br><br>
    </form>
    <table>
    <td>
    <input type="submit" value="로그인" name=""></b>
    </td>
    <td>
    <form action="/register">
    <input type="submit" value="회원가입">
    </td>
  </form>
</table>
        </center>
    
     </body>
</html> 
