<html>
 <head>
  <title>회원가입 페이지</title> 
  <script language="javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script>
 
    function check() {
      const getphone = RegExp(/^[0-9]{2,4}-[0-9]{4}-[0-9]{4}/);
      const getage = RegExp(/^[0-9]{1,3}$/);
      const hobbyCheck = false;
      const getbirth = RegExp(/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/);
      const getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
      const getCheck= RegExp(/^[a-zA-Z0-9]{4,12}$/);
      const getName= RegExp(/^[가-힣]+$/);
      
      //비밀번호 똑같은지
      if($("#pw").val() != ($("#repw").val())){ 
      alert("비밀번호가 틀렸습니다.");
      $("#pw").val("");
      $("#repw").val("");
      $("#pw").focus();
      return false;
     }
 
      //이름 유효성
      if (!getName.test($("#name").val())) {
        alert("이름을 다시 확인해주세요..");
        $("#name").val("");
        $("#name").focus();
        return false;
      }

            //나이 유효성
            else if (!getage.test($("#age").val())) {
                alert("나이는 숫자로만 입력해주세요.");
                $("#age").val("");
                $("#age").focus();
                return false;
            }

             //생일 유효성
             else if (!getbirth.test($("#birth").val())) {
                alert("생년월일은 '년-월-일'로 입력해주세요.");
                $("#birth").val("");
                $("#birth").focus();
                return false;
            }
   
             //전화번호 유효성
             else if (!getphone.test($("#phone").val())) {
                alert("전화번호는 '앞자리-중간자리-끝자리'로 입력해주세요.");
                $("#phone").val("");
                $("#phone").focus();
                return false;
            }    

      if(check_jumin() ==false){
        return false;
      }  
          }
  </script>

  <style>
  body {
  background-color: #2c3338;
  color: #ffffff;
  margin: 0;
  min-height: 100%;
}

.qjxms {
    background-color: #2c3338; color: #ffffff
  }

  .qjxms:hover {
    background-color: white;
    color: black;
    border: 2px solid powderblue;
    cursor:pointer;
  }
  </style>
</head>
<body>
   
    <form method="post" action="/sign_up" onsubmit="return check()">

<h2 align="center">회원가입</h2>
 
   <table align="center" border="3" cellspacing="0"  >
       <tr>
          <td colspan="5" height="30" align="center" bgcolor="powderblue" span style="color:black;">회원기본정보</td>
          
        </tr>
        <tr> 
            <td>이메일:</td>
            <td colspan="4"><input type="email" name="email" id="email" placeholder="이메일을 입력해주세요." required>
            예)id@domain.com <button class="qjxms">중복확인</button></td>
       </tr>
    
       <tr>
          <td >비밀번호:</td>
           <td colspan="4"><input type="password" maxlength="12" name="pw" id="pw" placeholder="비밀번호를 입력해주세요" required> 4~12자리의 영문 대소문자와 숫자로만 입력</td>
       </tr>
       <tr>
          <td >비밀번호확인:</td>
           <td colspan="5"><input type="password" name="repw" id="repw" maxlength="12" required></td> 
           
       </tr>
       <tr>
          <td>이름:</td>
          <td colspan="3"><input type="text" name="name" id="name" placeholder="이름을 입력해주세요." required></td>
        </tr>
        <tr>
            <td>나이:</td>
            <td colspan="3"><input type="text" name="age" id="age" placeholder="나이를 입력해주세요." required></td>
          </tr>
          <td>생년월일:</td>
            <td colspan="3"><input type="text" name="birth" id="birth" placeholder="0000-00-00" required></td>
        <tr>
            <td>전화번호:</td>
            <td colspan="3"><input type="text" name="phone" id="phone" placeholder="000-0000-0000" required></td>
          </tr>
  
    <tr>
      <td>취미:</td>
      <td colspan="3"><input type="text" name="hobby" id="hobby" placeholder="취미를 입력해주세요." required></td>
    </tr>
</table>
 
<p align="center">
        <input type="submit" class="qjxms" value="회원가입">
      
         <input type="reset" class="qjxms" value="다시입력">
  </p>
 
   </form>
</body>
</html>