<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Update</title>
   <style> 
       .box{
           outline: none;
           border: none;
       }
   </style>
</head>
<body>
   <center>
       <form action="/board/ud" method="POST">
        <input type="hidden" name="reqid" value="<%= reqid %>"/>
           <table border="1" style="border-collapse: collapse">
                <tr>
                    <td>
                       <p>수정할 제목을 입력해주세요.</p>
                    </td>
                    <td>
                        <input type="text" name="title" class="box" value="<%= title %>">
                    </td>
               </tr>
               <tr>   
                    <td>
                        <p>수정할 내용을 입력해주세요.</p>
                    </td>
                    <td>
                        <textarea name="content" cols="30" rows="10"><%= content %></textarea>
                    </td>
               </tr>
           </table>
           <br>
           <input type="submit" value="수정">
           <a href="/board/notice"><input type="button" value="뒤로가기"></a>
       </form>
   </center>
</body>
</html>